.flex {
  display: flex;

  &.wrap {
    flex-wrap: wrap;
  }

  &.between {
    justify-content: space-between;
  }

  &.center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.column {
    flex-direction: column;
  }

  &.jc-sa {
    justify-content: space-around;
  }

  &.jc-sb {
    justify-content: space-between;
  }

  &.ai-c {
    align-items: center;
  }

  &.wrap {
    flex-wrap: wrap;
  }
}

.posr {
  position: relative;
}

.nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tal {
  text-align: left !important;
}

.hcenter {
  margin-left: auto !important;
  margin-right: auto !important;
}

.pa {
  position: absolute !important;
}

.mt2 {
  margin-top: 2rem;
}

.w100p {
  width: 100% !important;
}

.h100p {
  height: 100% !important;
}

.ttx-100p {
  transform: translateX(-100%);
}

.animate {
  transition: $transition;
}

.hidden {
  display: none !important;
}

.noscroll {
  overflow-y: hidden !important;

  &-small {
    @include small {
      overflow-y: hidden !important;
    }
  }
}

.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

.content {
  padding: 0 $padding-content-mobile;

  @include med-and-up {
    padding: 0 $padding-content;
  }
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: $bg-overlay;
  z-index: map-get($z-index, overlay);
  opacity: 1;

  &.hidden {
    opacity: 0;
    visibility: hidden;
    display: inherit !important;
  }
}