.album {
  margin-bottom: 2rem;
  position: relative;
  //overflow: hidden;

  .album__title {
    display: inline-block;
    span {
      color: $text-color-secondary;
      font-size: 1rem;
      margin-left: 0.2rem;
    }
  }

  .album__settingsButton {
    @extend .btn;

    width: inherit;
    background: transparent;
    box-shadow: none;
    color: $text-color;
    margin: 0;
    padding: 0 0.5rem;

    &:hover {
      background: transparent;
      box-shadow: none;
    }
  }

  .album__settings {
    position: absolute;
    top: 1rem;
    right: 0;
    width: 16rem;
    height: auto;
    background: white;
    border-radius: $border-radius;
    padding: 1rem 0;
    z-index: map-get($z-index, dropdown);

    @extend .z-depth-1;

  }

  .album__setting {
    cursor: pointer;
    padding: 0 1.5rem;
    overflow: hidden;
    color: $text-color;
    font-size: 0.875rem;
    font-weight: 400;
    height: 2.5rem;
    line-height: 2.5rem;

    &:hover {
      background: $hover-color;
    }

    &:focus {
      background: $focus-color;
    }
  }

  .album__pictures {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-right: calc(#{$album-gutter-mobile} * -2);

    @include med-and-up {
      margin-right: inherit;
    }
  }

  .album__picture {
    position: relative;
    overflow: hidden;
    border-radius: $border-radius;
    width: calc(50%);
    height: calc((100vw - 2rem) / 3);
    padding-right: $album-gutter-mobile*2;
    margin-bottom: $album-gutter-mobile*2;

    @include med-and-up {
      width: 20rem;
      height: 13.3333rem;
      margin: $album-gutter;
      padding: inherit;

    }

    &__inner {
      overflow: hidden;
      border-radius: 2px;
      height: 100%;
    }

    img {
      border-radius: $border-radius;
      max-width: 100%;
      max-height: 100%;
      cursor: pointer;
    }

    .delete {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      padding: 1rem;
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.5);
      color: $text-color;
    }

    &:hover .delete {
      display: block;
    }

    .progressbar {
      position: absolute;
      width: 100%;
      margin: 0;
      bottom: 0;
      left: 0;
    }

    //@extend .z-depth-1;
  }

  .album__dropzone {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
  }

  &.hover {
    background: rgba(255, 0, 0, 0.08);
  }
}