.btn, .btn-large {
  border: none;
  border-radius: 2px;
  display: inline-block;
  width: 100%;
  height: 2.25rem;
  line-height: 2.25rem;
  outline: 0;
  margin: 1.25rem 0 1.25rem 0;
  padding: 0 2rem;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;

  text-decoration: none;
  color: #fff;
  background-color: $primary-color;
  text-align: center;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;

  @extend .z-depth-1;

  &:hover {
    background-color: lighten($primary-color, 5%);

    @extend .z-depth-1-half;
  }

  &:disabled {
    background: $disabled;
  }
}

.btn-large {
  height: 3.375rem;
  line-height: 3.375rem;
}

.btn-fab {
  background: $primary-color;
  color: white;
  border-radius: 50%;
  height: 3.5rem;
  width: 3.5rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;
  font-size: 1.75rem;
  font-weight: 300;
  line-height: 3.5rem;
  text-align: center;
  transition: box-shadow $transition;
  z-index: map-get($z-index, fab);
  -webkit-tap-highlight-color: transparent;

  @extend .z-depth-1;

  &:hover {
    @extend .z-depth-1-half
  }

  @include med-and-up {
    bottom: 2rem;
    right: 2rem;
  }
}