.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: map-get($z-index, lightbox);
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  color: white;

  .lightbox__inner {
    width: 100%;
    max-width: 72rem;
    height: 100%;
    max-height: 48rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }
}