.progressbar {
  position: relative;
  width: 100%;
  height: 2rem;
  background: white;
  margin: 1rem 0;
  text-align: center;

  .progressbar__bar {
    position: absolute;
    width:0;
    height: 100%;
    background-color: color("green", "base");
  }

  .progressbar__text {
    z-index: 10;
    line-height: 2rem;
    position: relative;
  }
}