.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 84.5%;
  max-width: $sidebar-width-mobile;
  min-width: 14rem;
  height: calc(100% - #{$header-height});
  color: $text-color;
  z-index: map-get($z-index, sidebar);
  overflow-x: auto;
  padding-bottom: 2.8rem;
  background: $bg-sidebar;
  top: $header-height;
  left: 0;

  @include med-and-up {
    width: $sidebar-width;
    background: $bg-color;
  }

  .sidebar__heading {
    margin: 1.5rem 1rem 0.5rem;
    font-size: 0.875rem;
    font-weight: 600;
  }

  .sidebar__link, .sidebar__link--secondary {
    line-height: 1.5rem;
    font-size: 14px;
    font-weight: 600;
    padding: 0.75rem 1rem;
    transition: $transition;
    border-left: 4px solid $bg-sidebar;
    -webkit-tap-highlight-color: transparent;

    @include med-and-up {
      font-size: 1rem;
      font-weight: 400;
    }

    &:hover, &.active {
      border-left: 4px solid $primary-color;
    }

    .innerText {
      padding-left: 3.25rem;
      font-weight: 600;

      @include med-and-up {
        font-weight: 400;
      }
    }
  }

  .sidebar__link--secondary {
    font-weight: 400;

    @include med-and-up {
      font-weight: 300;
    }
  }

  .sidebar__icon {
    position: absolute;
    font-size: 1.2rem;
    line-height: 1.5rem;
    opacity: 0.8;
  }

  .sidebar__link:hover .sidebar__icon, .sidebar__link.active .sidebar__icon {
    opacity: 1;
  }

  .sidebar__plusIcon {
    color: $primary-color;
    font-size: 1rem;
    float: right;
    line-height: 0.875rem;
    margin: 0 0.5rem;
    cursor: pointer;
  }

  .sidebar__logout {
    position: fixed;
    bottom: 0;
    text-align: left;
    background: $bg-sidebar;
    outline: none;
    border: none;
    border-left: 4px solid $bg-sidebar;
    color: $text-color;
    width: 84.5%;
    max-width: $sidebar-width-mobile;
    min-width: 14rem;

    @include med-and-up {
      width: $sidebar-width;
      background: $bg-color;
    }
  }

  .sidebar__newAlbum {
    padding: 0.75rem 1rem;
    border-left: 4px solid transparent;

    input {
      height: 1.5rem;
      line-height: 1.5rem;
      margin: 0;
      font-size: 14px;
      font-weight: 400;

      @include med-and-up {
        font-weight: 300;
      }
    }
  }

}